/* Styling for Text & Link Button */

button {
  background-color: transparent;
  border:none;
}

.mainHeading {
  font-weight: bold; 
  font-size: 32px; 
  color:#3f3967;
}

.subHeading {
  font-weight: 600;
  font-size: 14.5px;
  color:#a1a6bc;
}

.signup {
  color: #ff8676;
  font-weight: 900;
  font-size: 15px;
  padding-left:10px;
}
 